<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="infoRestaurant">
        <h2>{{ nameRestaurant }}</h2>
        <div *ngIf="menu">
          <div *ngIf="menu.dishes && menu.dishes.length > 0">
            <ul class="infoPlatos">
              <li *ngFor="let dish of menu.dishes">
                <h4>{{ dish.nombrePlato }}</h4>
                <p>{{ dish.descripcionPlato }}</p>
                <p>Precio: {{ dish.precioPlato | currency }}</p>
              </li>
            </ul>
          </div>
          <div *ngIf="!menu.dishes || menu.dishes.length === 0 || menu == null">
            <p>No hay platos disponibles en este menú.</p>
          </div>
        </div>
      </div>
    </div>
  </div>