<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h2>{{ nameRestaurant }}</h2>
      <div *ngIf="menu">
        <h3>Menú: {{ menu.title }}</h3>
        <div *ngIf="menu.dishes && menu.dishes.length > 0">
          <ul>
            <li *ngFor="let dish of menu.dishes">
              <h4>{{ dish.nombrePlato }}</h4>
              <p>{{ dish.descripcionPlato }}</p>
              <p>Precio: {{ dish.precioPlato | currency }}</p>
            </li>
          </ul>
        </div>
        <div *ngIf="!menu.dishes || menu.dishes.length === 0">
          <p>No hay platos disponibles en este menú.</p>
        </div>
      </div>
    </div>
  </div>