/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/montserrat');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/ruda');
/* font-family: 'Ruda', sans-serif; */

:root{
    /* TIPOGRAFIAS */
    --tipografiaTexto:'Montserrat', sans-serif;
    --tipografiaTitulos: 'Ruda', sans-serif;
    /* PALETA DE COLORES */
    --colorFondo: white;
    --colorNav: #FFC963;
    --colorContraste: #18C78F;
    --colorContraste2: #57E391;
    --colorFiguras: #FFE1A9;

}

/* HEADER */
header {
    width: 100%;
    height: 150px;
    margin-bottom: 0;
}


/* Barra de logo y opciones de usuario */
.barraLogo {
    background-color: var(--colorFondo);
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 20px 0 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
overflow: visible;
}

.logo img {
    margin-top: 34px;
    width: 194px;
}

/* Opciones de usuario */
.userOptions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.inicioSesionOpcion p {
    margin: 0;
}

.inicioSesionOpcion a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


.userIcon {
    position: relative;
    background-color: var(--colorContraste);
    width: 35px; 
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
}
.bienvenida {
    padding: 10px;
    background-color: #f0f8ff; /* Color de fondo suave */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra sutil */
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .bienvenida p {
    font-size: 1.2em; /* Tamaño de fuente más grande */
    color: #333; /* Color del texto */
    margin: 0; /* Elimina el margen predeterminado */
  }
.userIcon i {
    font-size: 1rem;
}

.userText {
    font-weight: 400;
}

.userImageContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .userImage {
    width: 100%;
    height: auto;
  }
  
  .userText {
    margin-left: 10px;
    cursor: pointer;
  }

/* Menú desplegable */
.dropdown{
    margin-top: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 180px;
    background-color: white;
    border: 1px solid #111010;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 101;
    padding: 5px;
    text-align: start;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
    transition: visibility 0.3s, opacity 0.8s ease, transform 0.5s ease;
}
.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  /* ANIMACION PARA QUE GIRE EL ICONO USER EN HOVER */
  .dropdown:hover .userIcon i {
    transform: rotate(360deg);
    transition: transform 0.6s ease-in-out;
  }
  .dropdown .userIcon i {
    transform: rotate(-0deg);
    transition: transform 0.8s ease-in-out;
  }
  /* ANIMACIONES DEL DROP */
  @keyframes dropdownIn {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes dropdownOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(-50px);
      opacity: 0;
    }
}
.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: visibility 0.3s, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.dropdown-menu.hide {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: visibility 0.3s 0.5s, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
/* Estilo para los elementos del menú */
.dropdown-menu .dropdown-item a {
    padding: 7px;
    text-decoration: none;
    color: #050505;
    display: inline-block; 
}

.dropdown-item {
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.dropdown-item a {
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Cambios en el hover */
.dropdown-item:hover {
    
    background-color: #15ac5e77; /* Cambia el fondo del li al hacer hover */
}

.dropdown-item a:hover  {
    color: white; /* Cambia el color del enlace dentro del li al hacer hover */
    transform: scale(1.1);
}
.dropdown-item{
    border-bottom: 1px solid #938c8c; }
.dropdown-item a i {
    font-size: 20px; /* Tamaño de los iconos */
    color: #ffffff; 
}


.dropdown:hover .dropdown-menu, .dropdown:focus-within .dropdown-menu {
    display: block;
    
}

.dropdown-item:last-child {
    border-bottom: none; /* Sin línea para el último ítem */
}

.cart-icon {
    width: 55px;
    height: 70px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cart-icon i {
    font-size: 1.7rem;/* Tamaño del ícono */
    color:var(--colorContraste); 
}

.cart-count {
    position: absolute;
    top: -4px;
    right: 4px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 1px 6px;
    font-size: 0.60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Navegador */
/* Navegador */
/* Navegador */
.menuNav{
    background-color:salmon;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index:99;
    top: 100px;
    left:0;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Añadido para efecto de sombra */

}

.listaMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 5%;
    list-style: none;
    color: var(--colorFondo);
    text-decoration: none;
    text-shadow: #ffffff;
   
    font-family: var(--tipografiaTitulos);
}


.listaMenu li {
    position: relative;
  top: 0%;
 /* Espacio para el separador */
}

.listaMenu li::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgb(205, 192, 192);
    transition: width 1s, background-color 0.5s;
}

.listaMenu li:hover::after {
    width: 100%;
    background-color:#ffffffbd;
}
.listaMenu a {
    color: var(--colorFondo);
    text-decoration: none;
    font-family: var(--tipografiaTitulos);
    transition: color 1s, transform 0.3s; /* Suavizado para el hover */
}

.listaMenu a:hover {
    color:white ;
    transform: scale(1.1); /* Aumenta el tamaño del enlace en hover */
    border-radius: 0.25rem; 
}

.listaMenu a:active {
    transform: scale(0.8); /* Normaliza el tamaño cuando se hace clic */
}

.nav-link {
   
    font-family: var(--tipografiaTitulos);
    padding: 0.5rem 1.9rem; /* Espaciado interno */
   
}

/* RESPONSIVE */




@media screen and (max-width: 1024px) {
    .menuNav {
        padding: 0 10px; /* Ajustar padding */
    }
    .logo img {
        width: 80px; /* Reducir tamaño en pantallas más pequeñas */
    }
    .barraLogo {
        padding: 0 10px; /* Reducir padding */
    }
    .inicioSesionOpcion {
        width: auto; /* Ajustar el ancho */
    }
   

@media screen and (max-width:650px){
 .barraLogo{
    width: 100%;
 }
    .logo img {
        width: 60px; /* Reducir tamaño del logo */
    }
    .inicioSesionOpcion a {
        font-size: 12px; /* Ajustar el tamaño de fuente */
    }
    .inicioSesionOpcion p {
        display: flex;
        flex-direction: column;
        width: 80px;
        height: 20px;
        display: flex;
        font-size:10px ;
    }
    .userOptions {
        gap: 5px; /* Reducir espacio entre elementos */
    }
    .userIcon {
        width: 20px;
        height: 20px;
    }
    .userText {
        font-size: 12px; /* Ajustar el tamaño de fuente */
    }
    .cart-icon {
        width: 40px; /* Reducir tamaño del ícono del carrito */
    }
    .cart-icon i {
        font-size: 1.2rem; /* Ajustar tamaño del ícono */
    }
  
    .userOptions {
        gap: 5px; /* Reducir espacio entre elementos */
    }
    .userIcon {
        width: 20px;
        height: 20px;
    }
    .userText {
        font-size: 12px; /* Ajustar el tamaño de fuente */
    }
    .cart-icon {
        width: 40px; /* Reducir tamaño del ícono del carrito */
    }
    .cart-icon i {
        font-size: 1.2rem; /* Ajustar tamaño del ícono */
    }
    .listaMenu {
        width: 100%; /* Asegurarse de que el menú no se desborde */
        padding: 0; 
    }
    .nav-link {
        width: 100%;
        font-size: 13px; /* Ajustar el tamaño de fuente */
        padding: 0rem; /* Ajustar el padding */
    
    }
    .dropdown{
        width: 60px;
        height: 40px;
        display: flex;
        align-items: center;
       
    }
    .cart-icon {
        width: 45px;
        height: 70px;
         margin-left: -10px;
    }
    
    .cart-icon i {
        font-size: 1.3rem; /* Tamaño del ícono */
        color:var(--colorContraste);
    }
    
    .cart-count {
        position: absolute;
        top: -4px;
        right: 4px;
        background-color: red;
        color: white;
        border-radius: 50%;
        padding: 1px 6px;
        font-size: 0.60rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuNav{
        background-color:salmon;
        width: 100%;
        height: 50px;
        position: fixed;
        z-index:99;
        top: 100px;
        left:0;
        padding: 0 5px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Añadido para efecto de sombra */
    display: flex;
    justify-content: space-around;
    }
 

    
}}