<header>
    <div class="barraLogo">
        <div class="logo">
            <a routerLink="/">
                <img src="assets/logoSinFondo.png" alt="logoSaludSabor">
            </a>
        </div>
        <div class="inicioSesionOpcion">
            <p>
                ¿Ya tienes cuenta?<a routerLink="/login"> Inicia sesión</a>
            </p>
            <div class="inicioSesionUser">
                <a routerLink="/login">
                    <i class="bi bi-person-fill inicioSesionUser"></i>
                </a>
            </div>
        </div>
    </div>
    <nav class="menuNav">
        <ul class="listaMenu">
            <li>
              <a routerLink="/">Inicio</a>
            </li>
            <li>
              <a routerLink="/restaurantes">Ver restaurantes</a>
            </li>
            <li>
                <a routerLink="/sobreNosotros">Quienes Somos</a>
            </li>
            <li>
                <a routerLink="/tips">Recetas</a>
            </li>
            <li>
                <a routerLink="/contactanos">Contactanos</a>
            </li>
          </ul>
    </nav>
</header>
