<header>
    <div>
        <a href="">
            <img src="assets/home/logoSinFondo.png" alt="logoSaludSabor">
        </a>
    </div>
    <nav>
        <ul>
            <li>
              <a routerLink="/">Inicio</a>
            </li>
            <li>
              <a routerLink="/restaurantes">Ver restaurantes</a>
            </li>
            <li>
                <a routerLink="/sobreNosotros">Quienes Somos</a>
            </li>
            <li>
                <a routerLink="/tips">Recetas</a>
            </li>
            <li>
                <a routerLink="/contactanos">Contactanos</a>
            </li>
            <li>
                <a routerLink="/login">
                    <button >INICIAR SESION</button>
                </a>
            </li>
          </ul>
    </nav>
</header>
