*{
    overflow-y: hidden;
}
:root{
    /* TIPOGRAFIAS */
    --tipografiaTexto:'Montserrat', sans-serif;
    --tipografiaTitulos: 'Ruda', sans-serif;
    /* PALETA DE COLORES */
    --colorFondo: white;
    --colorNav: #FFC963;
    --colorContraste: #18C78F;
    --colorContraste2: #57E391;
    --colorFiguras: #FFE1A9;

}
/* HEADER */
header{
    width: 100%;
    height: 130px;
    margin-bottom: 0;
    overflow-y:hidden ;

}

/* Dar estilos a logo y a inicio de sesion */
.barraLogo{
    background-color: var(--colorFondo);
    width: 100%;
    height: 100px;
    /* Hacer que siempre se fije */
    position: fixed;
    z-index:100;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--tipografiaTitulos);
    overflow-y: hidden;
}

.logo{
    width: 80%;
}
.barraLogo img{
    margin-left: 30px;
    width: 120px;


}

/* Opcion de inicio de sesion */
.inicioSesionOpcion{
    display: flex;
    gap: 10px;
    margin-right: 20px;
    width: 20%;
}

.inicioSesionOpcion p{
    gap: 10px;
}
.inicioSesionOpcion a{
    text-decoration: none;
    color:black;
    font-weight:bolder;
}

.inicioSesionUser{
    /* Sombra de la caja */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--colorContraste);
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Navegador */
.menuNav{
    background-color: var(--colorNav);
    width: 110%;
    height: 50px;
    position: fixed;
    z-index:100;
    top: 100px;
    left:0;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Añadido para efecto de sombra */
}
    .listaMenu {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        list-style: none;
        gap: 5%;
        margin-top: 1px;
    }
    .listaMenu li {
        position: relative;
        margin:  10px;
        padding-bottom: 2px; /* Espacio para el separador */
    }
    
    .listaMenu li::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition: width 1.3s, background-color 1.2s;
    }
    
    .listaMenu li:hover::after {
        width: 100%;
        background-color:var(--colorContraste);
    }
    .listaMenu a {
        color: var(--colorFondo);
        text-decoration: none;
        font-family: var(--tipografiaTitulos);
        transition: color 1s, transform 0.3s; /* Suavizado para el hover */
    }
    
    .listaMenu a:hover {
        color: var(--colorContraste) ;
        transform: scale(1.1); /* Aumenta el tamaño del enlace en hover */
    }
    
    .listaMenu a:active {
        transform: scale(1); /* Normaliza el tamaño cuando se hace clic */
    }

    .nav-link {
        color: black; /* Color de texto */
        font-family: var(--tipografiaTitulos); /* Fuente del texto */
        padding: 0.5rem 0.8rem; /* Espaciado interno */
        transition: color 1.8s, background-color 1.8s; /* Transiciones */
    }
    
    .nav-link:hover {
        
        background-color:var(--colorFiguras); /* Fondo al pasar el mouse */
        border-radius: 0.25rem; /* Bordes redondeados */
    }


/* RESPONSIVE */

@media screen and (max-width:830px){
    .menuNav{
        background-color: var(--colorNav);
        width: 100%;
        height: 45px;
        position: fixed;
        z-index:100;
        top: 100px;
        left:0;
    }

    .logo{
        width: 60%;
    }

    .inicioSesionOpcion{
        width: 40%;
    }
}

@media screen and (max-width:650px){
    .listaMenu a{
        width: 20%;
        color: var(--colorFondo);
        text-decoration: none;
        font-family: var(--tipografiaTitulos);
        font-size: 12px;
    }
}