<header>
  <div class="barraLogo">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logoSinFondo.png" alt="logoSaludSabor">
      </a>
    </div>
    <div class="userOptions">
      <!-- Cambia de texto cuando el usuario inicie sesión -->
      <div class="inicioSesionOpcion" *ngIf="!isLoggedIn">
        <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
      </div>
      <div class="bienvenida" *ngIf="isLoggedIn">
        <i class="bi bi-hand-thumbs-up"></i>
        <p>Hola! , {{ userName }}</p>
      </div>
      
      <div class="dropdown">
        <!-- Cambia el icono del usuario por la imagen del usuario cuando esté log -->
        <a href="#" class="userIcon" *ngIf="!isLoggedIn">
          <i class="bi bi-person-fill"></i>
        </a>
        <div class="userImageContainer" *ngIf="isLoggedIn">
          <img [src]="imagenPerfil || 'assets/default-user.png'" alt="Imagen del usuario" class="userImage">
        </div>
        <span class="userText">Mi cuenta <i class="bi bi-chevron-down"></i></span>
        <ul class="dropdown-menu" [ngClass]="{'show': isDropdownVisible}">
          <li class="dropdown-item" *ngIf="isLoggedIn"><a routerLink="/profile"><i class="bi bi-person"></i> Mi Perfil</a></li>
          <li class="dropdown-item"*ngIf="isLoggedIn"><a routerLink="/orders"><i class="bi bi-box"></i> Mis pedidos</a></li>
          <!-- Mostrar opción de "Cerrar sesión" si el usuario está logueado -->
          <li class="dropdown-item" *ngIf="isLoggedIn"><a (click)="logout()"><i class="bi bi-box-arrow-right"></i> Cerrar sesión</a></li>
          <!-- Ocultar opciones de "Iniciar sesión" y "Regístrate" si el usuario está logueado -->
          <li class="dropdown-item" *ngIf="!isLoggedIn"><a routerLink="/login"><i class="bi bi-box-arrow-in-right"></i> Iniciar sesión</a></li>
          <li class="dropdown-item" *ngIf="!isLoggedIn"><a routerLink="/registro"><i class="bi bi-person-add"></i> Regístrate</a></li>
        </ul>
      </div>
      <div class="cart-icon">
        <a routerLink="/cart">
          <i class="bi bi-cart-check"></i>
          <span class="cart-count">{{ cartService.getItemCount() }}</span>
        </a>
        <span class="userText">Carrito</span>
      </div>
    </div>
  </div>
    <nav class="menuNav">
      <ul class="listaMenu">
        <li><a routerLink="/" class="nav-link">Inicio</a></li>
        <li><a routerLink="/restaurantes" class="nav-link">Ver restaurantes</a></li>
        <li><a routerLink="/sobreNosotros" class="nav-link">Quienes Somos</a></li>
        <li><a routerLink="/tips" class="nav-link">Recetas</a></li>
        <li><a routerLink="/contactanos" class="nav-link">Contáctanos</a></li>
      </ul>
    </nav>
  </header>
  <app-cart *ngIf="isCartVisible"></app-cart>