



<header>
    <div class="barraLogo">
      <div class="logo">
        <a routerLink="/">
          <img src="assets/logoSinFondo.png" alt="logoSaludSabor">
        </a>
      </div>
      <div class="userOptions">
        <div class="inicioSesionOpcion">
          <p>¿Ya tienes cuenta? <a routerLink="/login">Inicia sesión</a></p>
        </div>
        <div class="dropdown">
          <a href="#" class="userIcon"> <!-- Evento click para abrir/cerrar el menú -->
            <i class="bi bi-person-fill"></i>
          </a>
          <span class="userText">Mi cuenta <i class="bi bi-chevron-down"></i></span>
          <ul class="dropdown-menu" [ngClass]="{'show': isDropdownVisible}">
            <li class="dropdown-item"><a routerLink="/profile"><i class="bi bi-person"></i> Mi Perfil</a></li>
            <li class="dropdown-item"><a routerLink="/orders"><i class="bi bi-box"></i> Mis pedidos</a></li>
            <li class="dropdown-item"><a routerLink="/login"><i class="bi bi-box-arrow-in-right"></i> Iniciar sesión</a></li>
            <li class="dropdown-item"><a routerLink="/registro"><i class="bi bi-person-add"></i> Regístrate</a></li>
          </ul>
        </div>
        <div class="cart-icon">
          <a routerLink="/cart">
            <i class="bi bi-cart-check"></i>
            <span class="cart-count">{{ cartService.getItemCount() }}</span>
          </a>
          <span class="userText">Carrito</span>
        </div>
      </div>
    </div>
    <nav class="menuNav">
      <ul class="listaMenu">
        <li><a routerLink="/" class="nav-link">Inicio</a></li>
        <li><a routerLink="/restaurantes" class="nav-link">Ver restaurantes</a></li>
        <li><a routerLink="/sobreNosotros" class="nav-link">Quienes Somos</a></li>
        <li><a routerLink="/tips" class="nav-link">Recetas</a></li>
        <li><a routerLink="/contactanos" class="nav-link">Contáctanos</a></li>
      </ul>
    </nav>
  </header>
  <app-cart *ngIf="isCartVisible"></app-cart>
<main>
    <section class="baner">
        
        <h1 class="suna" >suna</h1>
    </section>    

<!-- Sección de productos -->
<!-- 
ORDEN DEFINITIVO (recomendación)
1. LAYOUT -> La estructura de contenedor, filas y columnas
2. BREAKPOINTS -> el responsive
3. LOS COMPONENTES
4. MODIFICAMOS LAS CLASES SEGÚN LA APARIENCIA QUE QUERAMOS DAR
-->

<!-- 1. El contenedor ENTRADAS-->
<h2 class="titulosDeSeccion">ENTRADAS</h2>
<section class="container miContenedor1" id="entradas">
  <div class="row misProductos">
    <div *ngFor="let dish of filteredDishes['entradas']" class="col-12 col-md-6 col-lg-4">
      <div class="card border bg-light mx-auto">
        <img [src]="dish.imagenPlato" class="card-img-top" alt="Plato">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-3 text-success fw-bolder mt-1">{{ dish.nombrePlato }}</h5>
          <p class="text-center mb-1">{{ dish.descripcionPlato }}</p>
          <p class="text-center text-success mb-1 fw-bolder fs-4">{{ dish.precioPlato | currency }}</p>
          <a href="#" class="btn btn-dark bg-success bg-gradient mt-4 text-white agregar">Añadir al carrito</a>
        </div>
      </div>
    </div>
  </div>
</section>

<h2 class="titulosDeSeccion">Ensaladas</h2>
<section class="container miContenedor2" id="ensaladas">
  <div class="row misProductos">
    <div *ngFor="let dish of filteredDishes['ensaladas']" class="col-12 col-md-6 col-lg-4">
      <div class="card border bg-light mx-auto">
        <img [src]="dish.imagenPlato" class="card-img-top" alt="Plato">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-3 text-success fw-bolder mt-1">{{ dish.nombrePlato }}</h5>
          <p class="text-center mb-1">{{ dish.descripcionPlato }}</p>
          <p class="text-center text-success mb-1 fw-bolder fs-4">{{ dish.precioPlato | currency }}</p>
          <a class="btn btn-dark bg-success bg-gradient mt-4 text-white agregar" (click)="addDishToCart(dish)">Añadir al carrito</a>
        </div>
      </div>
    </div>
  </div>
</section>

<h2 class="titulosDeSeccion">Bebidas</h2>
<section class="container miContenedor2" id="bebidas">
  <div class="row misProductos">
    <div *ngFor="let dish of filteredDishes['bebidas']" class="col-12 col-md-6 col-lg-4">
      <div class="card border bg-light mx-auto">
        <img [src]="dish.imagenPlato" class="card-img-top" alt="Plato">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title text-center mb-3 text-success fw-bolder mt-1">{{ dish.nombrePlato }}</h5>
          <p class="text-center mb-1">{{ dish.descripcionPlato }}</p>
          <p class="text-center text-success mb-1 fw-bolder fs-4">{{ dish.precioPlato | currency }}</p>
          <a class="btn btn-dark bg-success bg-gradient mt-4 text-white agregar" (click)="addDishToCart(dish)">Añadir al carrito</a>
        </div>
      </div>
    </div>
  </div>
</section>





</main>
<app-footer></app-footer>