/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/montserrat');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/ruda');
/* font-family: 'Ruda', sans-serif; */

:root{
    /* TIPOGRAFIAS */
    --tipografiaTexto:'Montserrat', sans-serif;
    --tipografiaTitulos: 'Ruda', sans-serif;
    /* PALETA DE COLORES */
    --colorFondo: white;
    --colorNav: #FFC963;
    --colorContraste: #18C78F;
    --colorContraste2: #57E391;
    --colorFiguras: #FFE1A9;

}

/* HEADER */
header {
    width: 100%;
    height: 150px;
    margin-bottom: 0;
}
main {
    flex: 1;
    padding-bottom: 40px; /* Ajusta el padding según tu diseño */
    min-height: 100vh;
  }

/* BANNER */


    .baner {
        width: 100vw;
        height: 85vh; /* Cambia 100vh a 80vh o cualquier valor menor que desees */
        background: url(https://images.pexels.com/photos/5971864/pexels-photo-5971864.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) no-repeat center center fixed;
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
      
        filter: brightness(0.9);
    }

    .baner h1{
        position: absolute;
        top: 15%;
        color: white;
        text-align: center;
        background: rgba(0, 0, 0, 0.036); /* Fondo semi-transparente */
        padding: 20px;
        border-radius: 8px;
        font-size: 4.5rem;
    }


    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px; /* Añadido padding interno a la tarjeta */
        margin: 10px; /* Añadido margen externo a la tarjeta */
    }
    
    .card-body {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px; /* Padding interno de la tarjeta */
    }
 
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover; 
  }
  .titulosDeSeccion {
    font-family: var(--tipografiaTitulos);
    font-size: 2rem; /* Tamaño del texto */
    color: var(--colorContraste); /* Color del texto */
    margin-top: 40px; /* Espacio superior */
    margin-bottom: 20px; /* Espacio inferior */
    padding-bottom: 10px; /* Espacio inferior dentro del título */
    border-bottom: 2px solid var(--colorContraste); /* Línea inferior */
    text-align: center; /* Centramos el texto */
}

 
  .miContenedor1 {
    margin-top: 20px;
  }
  
  /* Ajusta el botón para que tenga un tamaño uniforme */
  .btn {
    width: 100%; 
  }

.miContenedor2 {
    margin-top: 20px;
    padding: 0 10px; /* Padding en los laterales de la sección */
}

