<app-navegation></app-navegation>
<main>
    <section class="modalRegistro">
        <div class="containerModal">
            <div class="volver">
                <a href="#" class="volverBoton">
                    <i class="bi bi-chevron-left"></i>
                </a>
            </div>
            <div class="containerEncabezado">
                <div class="encabezado">
                    <div class="imgEncabezado">
                        <img src="assets/logoSinFondo.png" alt="logo">
                    </div>
                    <h2>CREAR CUENTA</h2>
                </div>
            </div>
            <div class="formsSingUp">
                <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                    <input class="controles" type="text" placeholder="Nombre" formControlName="nombre" required>
                   
                    <input class="controles" type="email" placeholder="Correo electrónico" formControlName="correoElectronico" required>
                    <input class="controles" type="password" placeholder="Contraseña" formControlName="contrasena" required>
                    <input class="controles" type="tel" placeholder="Teléfono" formControlName="telefono" required>
                    <input class="controles" type="text" placeholder="Dirección actual" formControlName="direccion" required>
                    <div class="file-upload-container">
                        <input class="controles fileChange" placeholder="Imagen de perfil" type="file" (change)="onFileChange($event)" #fileInput>
                        <span class="tooltip-text">Selecciona una imagen para tu perfil</span>
                      </div>
                    <input class="botonEnviarRegistro" type="submit" value="CREAR CUENTA">
                </form>
            </div>
        </div>
    </section>
    <app-chat-bot></app-chat-bot>
</main>
<app-footer></app-footer>