<app-navegation></app-navegation>
<main>
    <section class="modalRegistro">
        <div class="containerModal">
            <div class="volver">
                <a href="#" class="volverBoton">
                    <i class="bi bi-chevron-left"></i>
                </a>
            </div>
            <div class="containerEncabezado">
                <div class="encabezado">
                    <div class="imgEncabezado">
                        <img src="assets/login/LOGO SALUD Y SABOR.png" alt="logo">
                    </div>
                    <h2>CREAR CUENTA</h2>
                </div>
            </div>
            <div class="formsSingUp">
                <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
                    <input class="controles" type="text" placeholder="Nombre" formControlName="nombre" required>
                    <!-- <select class="form-control controles" formControlName="documentoTipo" required>
                        <option value="" disabled>Seleccione tipo de documento</option>
                        <option value="cedula">Cédula de Ciudadanía</option>
                        <option value="tarjeta">Tarjeta de Identidad</option>
                        <option value="extranjero">Cédula de Extranjería</option>
                        <option value="pasaporte">Pasaporte</option>
                    </select> -->
                    <!-- <input class="controles" type="text" placeholder="Número de documento" formControlName="documentoNumero" required> -->
                    <input class="controles" type="email" placeholder="Correo electrónico" formControlName="correoElectronico" required>
                    <input class="controles" type="password" placeholder="Contraseña" formControlName="contrasena" required>
                    <input class="controles" type="tel" placeholder="Teléfono" formControlName="telefono" required>
                    <input class="controles" type="text" placeholder="Dirección actual" formControlName="direccion" required>
                   <input class="controles" type="file" (change)="onFileChange($event)">
                    <input class="botonEnviarRegistro" type="submit" value="CREAR CUENTA">
                </form>
            </div>
        </div>
    </section>
    <app-chat-bot></app-chat-bot>
</main>
<app-footer></app-footer>