/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/montserrat');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/ruda');
/* font-family: 'Ruda', sans-serif; */

/* Variables - Pseudoclase */
:root{
    /* TIPOGRAFIAS */
    --tipografiaTexto:'Montserrat', sans-serif;
    --tipografiaTitulos: 'Ruda', sans-serif;
    /* PALETA DE COLORES */
    --colorFondo: white;
    --colorNav: #FFC963;
    --colorContraste: #18C78F;
    --colorContraste2: #57E391;
    --colorFiguras: #FFE1A9;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--tipografiaTexto);
}

main {
    background-image: url('https://images.pexels.com/photos/326281/pexels-photo-326281.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.modalRegistro {
    background-color: rgba(255, 255, 255, 0.77); /* Fondo blanco con opacidad */
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 470px;
    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: absolute;
   
    right: 15%;
}

.imgEncabezado img {
    width: 100px;
    margin-bottom: 10px;
}

.encabezado h2 {
    font-family: var(--tipografiaTitulos);
    font-size: 24px;
    color: var(--colorContraste);
    margin-bottom: 20px;
    font-weight: bold;
}

.formsSingUp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.controles {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.controles:focus {
    border-color: var(--colorContraste);
    outline: none;
}

.botonEnviarRegistro {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--colorContraste);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.botonEnviarRegistro:hover {
    background-color: var(--colorContraste2);
}

.volverBoton {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--colorContraste);
    color: white;
    font-weight: 900;
    text-decoration: none;
}


.file-upload-container {
    position: relative; /* Necesario para posicionar el tooltip */
    display: inline-block; /* Ajusta el ancho del contenedor */
  }
  
  .file-upload-container .controles {
    font-size: 16px;
    padding: 10px;
  }
  
  .tooltip-text {
    visibility: hidden; /* Oculta el tooltip por defecto */
    width: 200px; /* Ajusta el tamaño del tooltip */
    background-color:#aca7a7; /* Fondo del tooltip */
    color: rgb(255, 255, 255); /* Color del texto del tooltip */
    text-align: center;
    border-radius: 5px ;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona el tooltip arriba del botón */
    left: 70%;
    margin-left: -100px; /* Centra el tooltip */
    opacity: 0; /* Hace que el tooltip sea invisible */
    transition: opacity 0.3s; /* Suaviza la transición */
  }
  
  .file-upload-container:hover .tooltip-text {
    visibility: visible; /* Muestra el tooltip al pasar el mouse */
    opacity: 1; /* Hace que el tooltip sea visible */
  }


/* Pantallas medianas */
@media screen and (max-width:1000px){
    .containerModal{
        width: 80%;
        height: 70%;
    }

    .formsSingUp form{
        width: 80%;
    }
}

/* Pantallas pequeñas */
@media screen and (max-width: 650px) {
    .modalRegistro {
        width: 90vw;
        height: auto;
        top: 30%;
        right: 5%;
    }
    .formsSingUp{
         width: 64vw;
      
    }
    .imgEncabezado img{
        width: 150px;
        height: 150px;
        padding-top: 0;
    }
    
h2{background-color: #ffffff;}
    .containerModal {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .formsSingUp form {
        width: 100%;
    }

    .botonEnviarRegistro {
        width: 100%;
        height: 45px;
    }

}