/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/montserrat');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/ruda');
/* font-family: 'Ruda', sans-serif; */

/* Variables - Pseudoclase */
:root{
    /* TIPOGRAFIAS */
    --tipografiaTexto:'Montserrat', sans-serif;
    --tipografiaTitulos: 'Ruda', sans-serif;
    /* PALETA DE COLORES */
    --colorFondo: white;
    --colorNav: #FFC963;
    --colorContraste: #18C78F;
    --colorContraste2: #57E391;
    --colorFiguras: #FFE1A9;

}

/* Ajuste de margin y padding */
*{
    margin: 0;
    padding: 0;
}


main {
    width: 100%;
    height: 100vh;
    background-image: url(https://images.pexels.com/photos/326281/pexels-photo-326281.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    position: relative;

    
}
.modalRegistro{
    position: absolute;
    top: 10%;
    right: 0%;
    width: 60vw;
    height: 70vh;
     display: flex;
    justify-content:space-around;
   
}

.containerModal{
    width: 700px; /* Fijo en 700px para pantallas grandes */
    height: 500px; /* Fijo en 500px para pantallas grandes */
    background-color: rgba(109, 97, 97, 0.284);
    box-shadow: 8px 10px 20px rgba(158, 149, 149, 0.601);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
   

}

.volver{
    width: 95%;
    height: 10vh;
}

.volverBoton{
    width:30px;
    height: 30px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorFondo);
    margin-top: 10px;
    background-color: var(--colorContraste);
    font-weight: 900;
}

.containerEncabezado{
   
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.encabezado{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgEncabezado{
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    padding-top: 0;
}
.imgEncabezado img{
    width: 15%;
    height: 10%;
    padding-top: 0;
}

.encabezado h2{
    width: 100%;
    height: 80%;
    text-align: center;
    font-size: 20px;
    font-family: var(--tipografiaTitulos);
    font-weight: 900;
    color: var(--colorContraste);
}
.formsSingUp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    margin-bottom: 40px;
}

.formsSingUp form{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.controles{
    width: 100%;
    height: 30px;
    border: .5px solid var(--colorContraste);
    padding: 2px;
    border-radius: 5px;
    font-family: var(--tipografiaTexto);
}

.botonEnviarRegistro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--colorContraste);
    border: none;
    color: #ffffff;
    font-family: var(--tipografiaTexto);
    font-weight: 700;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.botonEnviarRegistro:hover {
    background-color: var(--colorContraste2);
}
/* FOOTER */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--colorContraste);
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyRight{
    width: 100%;
    height: 100%;
    font-family: var(--tipografiaTitulos);
    font-weight: 900;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px ;

}

/* ESTILOS DE MODALES */

/* MODAL DE CREACION */

.modalCreacion{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.368);
    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Para poder interactuar con la pagina */
    pointer-events: none;
    transition: opacity .6s;
}

.modalCreacion--show{
    opacity: 1;
    pointer-events: unset;
    /* Transicion para hacer mas amable la aparicion */
    transition: opacity .6s;
}
.contenedorModalCreacion{
    width: 90%;
    max-width: 500px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--colorFondo);
    border-radius: 10px;
    padding: 20px;
}

.contenedorModalCreacion img{
    width: 150px;
}

.contenedorModalCreacion h2{
    font-family: var(--tipografiaTexto);
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.contenedorModalCreacion a{
    width: 50px;
    text-align: center;
    text-decoration: none;
    background-color: var(--colorNav);
    font-family: var(--tipografiaTexto);
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
}

.contenedorModalCreacion a:hover{
    background-color: var(--colorFiguras);
}

/* Pantallas medianas */
@media screen and (max-width:1000px){
    .containerModal{
        width: 80%;
        height: 70%;
    }

    .formsSingUp form{
        width: 80%;
    }
}

/* Pantallas pequeñas */
@media screen and (max-width: 650px) {
    .modalRegistro {
        width: 90vw;
        height: auto;
        top: 5%;
        right: 5%;
    }
    .imgEncabezado img{
        width: 150px;
        height: 150px;
        padding-top: 0;
    }
    
h2{background-color: #ffffff;}
    .containerModal {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .formsSingUp form {
        width: 100%;
    }

    .botonEnviarRegistro {
        width: 100%;
        height: 45px;
    }
}