/* Header Menu*/
.navigationAdmin{
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: var(--colorContraste);
    z-index: 1;
}

/* Header menu hamburguesa */
.navigationAdminBurguer{
    width: 5%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: var(--colorContraste);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;

}
/* Menú hamburguesa */
.hamburgerButton{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.imgAdmin{
    width: 100%;
    height: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.imgAdmin img {
    object-fit:contain;
    text-align: center;
    height: 100%;
    width: 100%;
}

.nombreAdmin{
    height: 5%;
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    font-family: var(--tipografiaTexto);
    font-weight: 700;
    margin-bottom: 0;
}

.buttonNavigation{
    width: 100%;
    height: 65%;
}

nav{
    width: 100%;
    height: 100%;
}

a{
    width: 100%;
}

.buttonsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 15px;
}

.buttonsContainer li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Asegúrate de que no haya márgenes */
    padding: 0;
}

.buttonsContainer button {
    width: 100%;  /* Asegura que el botón ocupe todo el ancho del contenedor */
    height: 100%;
    border: none; /* Quitar el borde por defecto si no es necesario */
    padding: 10px; /* Espacio interior del botón */
    background-color: var(--colorContraste);
    color: white;
    font-size: 15px;
    font-family: var(--tipografiaTexto);
    font-weight: 700; /* Color de fondo */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.buttonsContainer a{
    text-decoration: none;
}

/* MAIN */
main{
    width: 95%;
    height: 100%;
    position: fixed;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* SECTION */

.welcomePage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.imgWelcome{
    width: 30%;
    height: 45%;
}

.imgWelcome img{
    width: 100%;
    height: 100%;
}

.welcomePage h1{
    text-align: center;
    font-family: var(--tipografiaTexto);
    font-weight: 700;
    color: var(--colorContraste);
}

.welcomePage h2{
    font-family: var(--tipografiaTitulos);
    font-weight: 600;
    color: var(--colorContraste2);
}

/* RESPONSIVE */

@media screen and (max-width:980px){
    .imgWelcome{
        width: 50%;
    }
}

@media screen and (max-width:940px){
    .navigationAdmin{
        width: 30%;
    }
}

@media screen and (max-width:610px){
    .navigationAdmin{
        width: 40%;
    }
}

@media screen and (max-width:490px){
    
    .imgWelcome{
        width: 70%;
    }

    main{
        overflow-x: scroll;
    }
}

@media screen and (max-width:460px){
    .navigationAdmin{
        width: 60%;
    }
}


