<header class="navigationAdmin">
    <div class="imgAdmin">
        <div>
            <img src="./assets/admin/perfilAdminPrueba.jpg" alt="perfilAdministrador">
        </div>
    </div>
    <div class="nombreAdmin">
        <p>Bienvenid&#64; nombre</p>
    </div>
    <div class="buttonNavigation">
        <nav>
            <ul class="buttonsContainer">
                <li>
                    <a routerLink="/administrador/panel-restaurantes">
                        <button>
                            <i class="bi bi-building"></i>
                            Restaurantes
                        </button>
                    </a>
                </li>
                <li>
                    <a routerLink="/administrador/usuarios">
                        <button>
                            <i class="bi bi-people-fill"></i>
                            Usuarios
                        </button>
                    </a>
                </li>
                <li>
                    <a routerLink="/administrador/dashboard">
                        <button>
                            <i class="bi bi-bar-chart"></i>
                            Dashboard
                        </button>
                    </a>
                </li>
                <li>
                    <a routerLink="/administrador/administradores">
                        <button>
                            <i class="bi bi-person-vcard"></i>
                            Administradores
                        </button>
                    </a>
                </li>
                <li>
                    <a routerLink="/logout">
                        <button>
                            <i class="bi bi-door-open-fill"></i>
                            Cerrar sesión
                        </button>
                    </a>
                </li>
            </ul>
            
        </nav>
    </div>
</header>
<main>
    <!-- <div *ngIf="isVisibleAdmins">
        <app-panel-administradores></app-panel-administradores>
    </div>
    <div *ngIf="isVisibleDashboard">
        <app-dashboard></app-dashboard>
    </div>
    <div *ngIf="isVisibleRestaurants">
        <app-panel-restaurantes></app-panel-restaurantes>
    </div>
    <div *ngIf="isVisibleUsers">
        <app-panel-uusarios></app-panel-uusarios>
    </div> -->

    <!-- Ayuda a cargar la ruta hija correspondiente -->
    <router-outlet/>
</main>