<header *ngIf="viewMenu === false" class="navigationAdminBurguer">
    <button (click)="changeMenu()" class="hamburgerButton">
        <i class="bi bi-list"></i>
    </button>
    <button (click)="logout()" class="hamburgerButton">
        <i class="bi bi-door-open-fill"></i>
    </button>
</header>
<header class="navigationAdmin" *ngIf="viewMenu === true">
    <button (click)="changeMenu()" class="hamburgerButton">
        <i class="bi bi-list"></i>
    </button>
    <div class="imgAdmin">
            <img src="./assets/admin/logo.jpg" alt="perfilAdministrador">
    </div>
    <div class="nombreAdmin">
        <p>¡Bienvenid&#64;!</p>
    </div>
    <div class="buttonNavigation">
        <nav>
            <ul class="buttonsContainer">
                <li>
                    <a routerLink="/administrador/panel-restaurantes" (click)="changeRoute()">
                        <button>
                            <i class="bi bi-building"></i>
                            Restaurantes
                        </button>
                    </a>
                </li>
                <li>
                    <a routerLink="/administrador/usuarios" (click)="changeRoute()">
                        <button>
                            <i class="bi bi-people-fill"></i>
                            Usuarios
                        </button>
                    </a>
                </li>
                <li>
                    <a routerLink="/administrador/dashboard" (click)="changeRoute()">
                        <button>
                            <i class="bi bi-bar-chart"></i>
                            Dashboard
                        </button>
                    </a>
                </li>
                <li>
                    <a routerLink="/administrador/administradores" (click)="changeRoute()">
                        <button>
                            <i class="bi bi-person-vcard"></i>
                            Administradores
                        </button>
                    </a>
                </li>
                <li>
                    <a (click)="logout()">
                        <button>
                            <i class="bi bi-door-open-fill"></i>
                            Cerrar sesión
                        </button>
                    </a>
                </li>
            </ul>
            
        </nav>
    </div>
</header>
<main>
    <section *ngIf="isInRouter===false" class="welcomePage">
        <img src="./assets/admin/hiAdmin.png" alt="hiAdminPhoto" class="imgWelcome">
        <h1>BIENVENIDO ADMINISTRADOR</h1>
        <h2>¿QUÉ DESEAS REALIZAR HOY?</h2>
    </section>
    <router-outlet/>
</main>