<section>
    <div>
        <button>
            <i class="bi bi-arrow-left-short"></i>
        </button>
    </div>
    <h2>INFORMACIÓN RESTAURANTE</h2>
    <div>
        <div>
            <div>
                <label for="">Nombre restaurante</label>
                <input type="text">
            </div>
            <div>
                <label for="">Ciudad</label>
                <input type="text">
            </div>
            <div>
                <label for="">Correo electronico</label>
                <input type="text">
            </div>
            <div>
                <label for="">Categoria restaurante</label>
                <input type="text">
            </div>
            <div>
                <label for="">Descripción</label>
                <input type="text">
            </div>
            <div>
                <label for="">Dirección</label>
                <input type="text">
            </div>
            <div>
                <label for="">Categorias del menú</label>
                <input type="text">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3 enviarForms">CREAR RESTAURANTE</button>
            </div>
        </div>
    </div>
</section>
<section>
    <div>
        <h3>AQUI SE MOSTRARAN LOS PLATOS QUE AGREGUES</h3>
    </div>
    <article>
        <h2>PLATOS CREADOS</h2>
        <article>
            <div>
                <img src="" alt="">
            </div>
            <div>
                <h2>NOMBRE PLATO</h2>
                <h3>CATEGORIA</h3>
                <h3>DESCRIPCIÓN</h3>
                <h3>PRECIO</h3>
            </div>
            <div>
                <button>
                    <i class="bi bi-trash3"></i>
                </button>
                <button>
                    <i class="bi bi-pencil-square"></i>
                </button>
            </div>
        </article>
        <button>AGREGAR PLATO</button>
    </article>


</section>