<section>
    <article class="formsContainer">
        <div class="botonRegresar">
            <button routerLink="/administrador/panel-restaurantes">
                <i class="bi bi-arrow-left-short"></i>
            </button>
        </div>
        <div class="infoContainer">
            <h2>INFORMACIÓN RESTAURANTE</h2>
            <div>
                <input type="text" [(ngModel)]="nombreRestaurant" placeholder="Nombre Restaurante" required>
            </div>
            <div>
                <input type="text" [(ngModel)]="ciudad" placeholder="Nombre restaurante" required>
            </div>
            <div>
                <input type="email" [(ngModel)]="correoElectronico" placeholder="Correo electronico" required>
            </div>
            <div>
                <input type="text" [(ngModel)]="categoriaRestaurant" placeholder="Categoria restaurante" required>
            </div>
            <div>
                <input type="text" [(ngModel)]="descripcion" placeholder="Breve descripción">
            </div>
            <div>
                <input type="text" [(ngModel)]="direccion" placeholder="Dirección" required>
            </div>
            <div>
                <input type="text" [(ngModel)]="categoriaMenu" placeholder="Categorias Menú" required>
            </div>
            <div>
                <input type="text" [(ngModel)]="imgLogo" placeholder="Imagen o logo relacionado">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3 enviarForms" [disabled]="isDishes === false" (click)="addRestaurant()" routerLink="/administrador/panel-restaurantes">CREAR RESTAURANTE</button>
            </div>
            
        </div>
    </article>
    <article class="viewDishes">
        <div *ngIf="isDishes === false" class="noDishes">
            <h3>AQUI SE MOSTRARAN LOS PLATOS QUE AGREGUES</h3>
            <div class="addDishesButton">        
                <button (click)="addingDishes()">CREAR PLATILLOS</button>
            </div>
        </div>
        <article *ngIf="isDishes === true">
            <h2>PLATOS CREADOS</h2>
            <article *ngFor="let dish of dishesMenu">
                <div>
                    <img src="{{dish.imagenPlato}}" alt="">
                </div>
                <div>
                    <h2>{{dish.nombrePlato}}</h2>
                    <h3>Categoria: {{dish.categoria}}</h3>
                    <h3>Descripción: {{dish.descripcionPlato}}</h3>
                    <h3>Precio : {{dish.precioPlato}}</h3>
                </div>
                <div>
                    <button (click)="deleteDish(dish._id)">
                        <i class="bi bi-trash3"></i>
                    </button>
                </div>
            </article>
            <div>        
                <button (click)="addingDishes()">CREAR PLATILLOS</button>
            </div>
        </article>
    </article>
    <div *ngIf="isAddingDishes">
        <app-modal-dishes-table></app-modal-dishes-table>
    </div>
</section>