<section>
    <div class="restaurantTexto">
        <h1>RESTAURANTES</h1>
    </div>
    <div class="containerTabla">
        <div class="containerBtns">
            <button type="button" routerLink="/administrador/panel-restaurantes/formsAgregarRestaurante">AGREGAR RESTAURANTE</button>
        </div>
        <div class="tablaRestaurantes">
            <table>
                <thead>
                    <th>NOMBRE</th>
                    <th>DIRECCIÓN</th>
                    <th>MENÚ</th>
                    <th>ACCIONES</th>
                </thead>
                <tbody>
                    <tr *ngFor="let restaurant of allRestaurants" class="restaurants">
                        <td class="tdContenido">
                            <p>{{restaurant.nombre}}</p>
                        </td>
                        <td class="tdContenido">
                            <p>{{restaurant.direccion}}</p>
                        </td>
                        <td class="tdContenido actionMenu">
                            <button (click)="handleVerMenu(restaurant)" type="button" class="menuButton">VER MENÚ</button>
                        </td>
                        <td class="tdContenido actions ">
                            <button type="button" (click)="deleteRestaurant(restaurant._id)" class="eliminarButton">
                                <i class="bi bi-trash3" ></i>
                            </button>
                            <button type="button" [routerLink]="['/administrador/panel-restaurantes/', restaurant._id]" class="updateButton">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <app-modal-menu [isVisible]="isModalVisible" [menu]="menu" [nameRestaurant]="selectedRestaurantName" [closeModal]="closeModal.bind(this)"></app-modal-menu>
</section>