section{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

div{
    width: 100%;
    height: 40%;
    padding: 30px;
}

.visitDiagram{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h2{
    font-family: var(--tipografiaTitulos);
    width: 100%;
    text-align: center;
    color: var(--colorContraste);
    font-size: 30px;
}