<app-navegation></app-navegation>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="d-flex align-items-center mb-4">
        <!-- Nube Informativa -->
        <div class="bg-info text-white p-4 rounded-3 shadow-sm" style="flex: 1;">
          <h4 class="mb-3">¿Olvidaste tu contraseña?</h4>
          <p>Ingresa tu correo electrónico y te enviaremos un enlace para recuperar tu contraseña.</p>
        </div>
        <!-- Formulario -->
        <div class="ms-4 flex-grow-1">
          <div class="card p-4">
            <h2 class="card-title mb-4">Recuperar Contraseña</h2>
            <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico:</label>
                <input id="email" formControlName="email" type="email" class="form-control" placeholder="Ingrese su correo electrónico" />
              </div>
              <button type="submit" class="btn custom-btn" [disabled]="recoverForm.invalid || isSubmitting">Enviar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>