@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/ruda');

/* Definición de variables de color y tipografía */
:root {
    --tipografiaTexto: 'Montserrat', sans-serif;
    --tipografiaTitulos: 'Ruda', sans-serif;
    --colorFondo: #f4f4f4;
    --colorNav: #FFC963;
    --colorContraste: #18C78F;
    --colorContraste2: #57E391;
    --colorFiguras: #FFE1A9;
    
   
    --colorTexto: #333;
}

/* Estilo general de la página */
body {
    font-family: var(--tipografiaTexto);
    background-color: var(--colorFondo);
    margin: 0;
    padding: 0;
}

app-navegation, app-footer {
    background-color: var(--colorNav);
}

/* Estilo del contenedor del formulario */
.recover-password {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.recover-password h2 {
    font-family: var(--tipografiaTitulos);
    color: var(--colorContraste);
    margin-bottom: 20px;
}

.recover-password form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.recover-password label {
    font-size: 16px;
    color: var(--colorTexto);
}

.recover-password input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}
.custom-btn {
  background-color: #18C78F; 
  border: none; 
  color: white; 
  padding: 0.5rem 1rem;
  font-size: 1rem; 
  border-radius: 0.25rem; 
  transition: background-color 0.3s ease; 
}

.custom-btn:hover {
  background-color: #57E391;
}

.custom-btn:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
}


.bg-info {
  background-color: #d1ecf1 !important;
  color: #0c5460 !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

/* Estilo para dispositivos móviles */
@media (max-width: 600px) {
    .recover-password {
        padding: 15px;
    }
    
    .recover-password input[type="email"] {
        padding: 8px;
    }

    .recover-password button {
        padding: 8px 15px;
        font-size: 14px;
    }
}