<app-navegation></app-navegation>
<main>
    <section class="login-container">
        <img src="assets/logoSinFondo.png" alt="logo-saborysalud" class="login-logo">
        <h2 class="login-title">¡ERES INCREÍBLE! <br> Bienvenido</h2>
        
        <form [formGroup]="credentialForm" (ngSubmit)="handleSubmint()">
            <div class="form-group">
                <input class="input-control" type="email" placeholder="Email" formControlName="email">
                <!-- Mensaje de error para el email -->
                <div *ngIf="emailControl?.invalid && emailControl?.touched" class="error-message">
                    <span *ngIf="emailControl?.errors?.['required']">El email es obligatorio.</span>
                    <span *ngIf="emailControl?.errors?.['email']">Ingresa un email válido.</span>
                </div>
            </div>
            <div class="form-group">
                <input class="input-control" type="password" placeholder="Contraseña" formControlName="password">
                <!-- Mensaje de error para la contraseña -->
                <div *ngIf="passwordControl?.invalid && passwordControl?.touched" class="error-message">
                    <span *ngIf="passwordControl?.errors?.['required']">La contraseña es obligatoria.</span>
                    <span *ngIf="passwordControl?.errors?.['minlength']">La contraseña debe tener al menos 4 caracteres.</span>
                </div>
            </div>
            <a class="login-link" routerLink="/recover">¿Olvidaste tu contraseña?</a>
            <input class="login-button" type="submit" value="Entrar" [disabled]="isSubmitting || credentialForm.invalid">
            <p>¿No tienes cuenta?<a routerLink="/registro"><span> Crear cuenta</span></a></p>
            <p class="terms-text">Al crear una cuenta, aceptas nuestros <strong>términos y condiciones</strong></p>
        </form>
    </section>

    <app-chat-bot></app-chat-bot>
</main>
<app-footer></app-footer>
