<app-navegation></app-navegation>
<main>
    <section class="modalInicioSesion">
        <div class="modal-contenedorInicioSesion">
        
            <img src="/assets/login/LOGO SALUD Y SABOR.png" alt="logo-saborysalud"
                class="Log-ss">
            <article class="Eres-Increible">
                <h2 class="modal-titulo">¡ERES INCREIBLE! <br> Bienvenido</h2>
                
            </article>

            <div class="input-login">
                <input class="controles" type="email" name="Multiple" value="" placeholder="email">
                <input class="controles" type="password" name="Contraseña" value="" placeholder="Contraseña">
                <p><a class="recuperar-pass" routerLink="/recover">¿Olvidaste tu contraseña?</a></p>
                <input class="botonesInicioSesion" type="submit" name="" value="Entrar">
                <p>¿No tienes cuenta?<a routerLink="/registro"><span> Crear cuenta</span></a></p>
                <p>Al crear una cuenta, aceptas nuestros <strong>términos y condiciones</strong></p>
            </div>
        </div>
    </section>



    <app-chat-bot></app-chat-bot>
</main>
<app-footer></app-footer>

