/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/ruda');

/* Variables - Pseudoclase */
:root{
    --tipografiaTexto:'Montserrat', sans-serif;
    --tipografiaTitulos: 'Ruda', sans-serif;

   
    --colorContraste: #18C78F;
    --colorContraste2: #57E391;
   
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--tipografiaTexto);
}

main {
    background-image: url('https://images.pexels.com/photos/349610/pexels-photo-349610.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.381);
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    box-shadow: 8px 10px 20px rgba(0, 0, 0, 0.886);
    text-align: center;
}

.login-container img {
    width: 100px;
    margin-bottom: 10px;
}

.login-title {
    font-family: var(--tipografiaTitulos);
    font-size: 24px;
    color: var(--colorContraste);
    margin-bottom: 20px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 0px;
}

.input-control {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

.input-control:focus {
    border: 3px solid #18C78F;
    outline: none;
}

.login-link {
    display: block;
    margin: 15px 0;
    font-size: 14px;
    color: #403b3b;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.login-link:hover {
    color:black;
    font-weight: 500;
}

.login-button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--colorContraste);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-button:hover {
    background-color: var(--colorContraste2);
}

.terms-text {
    margin-top: 20px;
    font-size: 12px;
    color: #403b3b;
}

.terms-text strong {
    color: #333333;
}

