<header>
  <div class="barraLogo">
    <div class="backButton">
      <button (click)="goBack()" class="btn btn-outline-light d-flex align-items-center">
        <i class="bi bi-chevron-left me-2 fs-5"></i>Volver
      </button>
    </div>
    <div class="logo">
      <a routerLink="/">
        <img src="assets/cart/logo_verde-removebg-preview.png" alt="logoSaludSabor">
      </a>
    </div>
  </div>
</header>

<!-- MAIN -->
<main>
  <div class="cart-container">
    <div class="cart-header">
      <h2>Carrito de Compras</h2>
      <div class="cart-counter">Productos en el carrito: {{ cartService.getItemCount() }}</div>
    </div>
    <div class="cart-items">
      <div *ngFor="let item of itemsInCart" class="cart-item">
        <img [src]="item.imagenPlato" alt="{{item.nombrePlato}}" class="cart-item-image">
        <div class="cart-item-details">
          <h4>{{item.nombrePlato}}</h4> <!-- Aquí debe mostrarse el nombre correcto del plato -->
          <button class="btn btn-link p-0" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#description' + item._id" aria-expanded="false" [attr.aria-controls]="'description' + item._id">
            Mostrar descripción <span class="accesibilidad">(click para ver)</span>
          </button>
          <div [id]="'description' + item._id" class="collapse">
            <p class="item-description">{{item.descripcionPlato}}</p>
          </div><!-- Aquí debe mostrarse el nombre correcto del plato -->
          <p>{{item.precioPlato | currency}}</p> <!-- Precio correcto -->
         </div>
        <div class="cart-item-controls">
          <button (click)="cartService.updateQuantity(item._id, -1)">-</button>
          <span>{{item.quantity}}</span>
          <button (click)="cartService.updateQuantity(item._id, 1)">+</button>
          <button (click)="removeFromCart(item._id)">Eliminar</button>
        </div>
      </div>
    </div>
   
    <div class="comments-section">
      <label for="additionalComments">Comentarios o Peticiones Adicionales:</label>
      <textarea id="additionalComments" [(ngModel)]="additionalComments" rows="4" placeholder="Escribe aquí tus comentarios..."></textarea>
    </div>
    <div class="cart-total">
      <h3>Total a Pagar: {{totalPrice | currency}}</h3>
    </div>
    <div class="btn-backOrPay">
      <button type="button" class="btn btn-success betene"(click)="goBack()">Continuar comprando</button>
      <button type="button" class="btn btn-success betene"(click)="mostrarMensajePago()">Ir a pagar</button>
    </div>

  </div>
</main>
<app-footer></app-footer>