<app-navegation></app-navegation>
<main>
    <!-- Seccion baner -->
    <section class="baner" >
       
        <h1 data-aos="fade-down">¿Quiénes somos? </h1 >
        <p class=" parrafo-banner"  >"Salud y Sabor" es tu mejor aliado a la hora de localizar establecimientos
        comerciales
        dedicados a la alimentación sana y eficiente. Y lo mejor. <br>
        ¡para todas las edades!</p>
    </section>


    <h2>Nuestra misión</h2>

    <div class="mision">
        <div class="container-img"  data-aos="fade-right">
            <img src="assets/quienes somos/logo de comunidad.png" alt="logo-comunidad">
            <img src="assets/quienes somos/logo mapa Colombia.png" alt="logo-Colombia">
        </div>
        <p data-aos="fade-left" >Crear una <strong>comunidad</strong>
            en la que nos enfoquemos profundamente en mejorar la calidad de vida de miles de personas en Colombia.
        </p>
    </div>
 <hr>
    <h2>Nuestra visión</h2>
    <div class="vision" >
        <div class="container-img" data-aos="fade-right">
            <img src="assets/quienes somos/logo de mejores amigos.png" alt="logo-bff">

            <img src="assets/quienes somos/logo de buenos habitos.png" alt="logo-habitos">
        </div>
        <p data-aos="fade-left">Generar un <strong>vínculo</strong> con mucha <span>salud y sabor</span>, acompañándote donde estés para
            mantener y
            mejorar nuestros hábitos alimenticios.</p>
    </div>
    <hr>
    <h2>Equipo</h2>
    <section class="equipo" data-aos="zoom-in">

        <div class="gabriel">
            <img src="assets/quienes somos/profile-pic (1)gab.png" alt="foto-Gabriel">
            <h4 class="Our-names">Gabriel Betancourt</h4>
        </div>
        <div class="laura">
            <img src="assets/quienes somos/profile-pic (1)lau.png" alt="foto-laura">
            <h4 class="Our-names">Laura Mendieta</h4>
        </div>


    </section>

    <app-chat-bot></app-chat-bot>
</main>

<app-footer></app-footer>