<app-navegation></app-navegation>
<!-- MAIN -->
<main>
    <section id="textoMain" class="contenedorInfo">
        <p class="textoMain">
            Para nosotros es muy importante ofrecer siempre un buen servicio, por esto aqui te presentamos nuestros canales de contacto donde con gusto nuestro equipo te atendera.
        </p>
        <img class="imgMain" src="../assets/imagen 1.jpg" alt="Personal de atencion al cliente">

    </section>

    <section id="textoMain" class="contenedorInfo">
        <img class="imgMain" src="../assets/imagen 2.png" alt="Cliente satisfecho">
        <p class="textoMain">
            • ¿Tienes alguna duda o inquietud sobre nuestros servicios?<br><br>
            • Por favor dejanos tus opiniones y/o sugerencias, es importante para nosotros!
        </p>
    </section>
    <section class="canalAtencion">
        <h1>Canales de atencion</h1>
        <div class="enlacesRedes">
            <div>
                <a href="https://api.whatsapp.com/send?phone=3193408310">
                    <i class="bi bi-whatsapp"></i>
                </a>
            </div>
            <div>
                <a href="tel:+573193408310">
                    <i class="bi bi-telephone-fill"></i>
                </a>
            </div>
            <div>
                <a href="mailto:laumendieta06@gmail.com">
                    <i class="bi bi-envelope-at"></i>
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>  
        </div>
    </section>

    <section class="preguntasFrecuentes">
        <h2>PREGUNTAS FRECUENTES</h2>
        <div class="contenedorPreguntas">
            <div class="preguntas">
                <p class="textoPreguntas">
                    1. Cuanto cuestan los envios a mi ubicacion?<br>
                    2. Que pasa si mi pedido no llega?<br>
                    3. Como puedo solicitar la devolucion de mi dinero?<br>
                    4. Que debo hacer si no recibo lo que pedi?<br>
                    5. Cuantos pares son tres moscas?<br>
                </p>
            </div>
            <div class="brocoli">
                    <img src="../assets/brocoli.png" alt="brocoli con inquietudes">
            </div>
        </div>
    </section>
</main>
<app-footer></app-footer>
