/* Importaciones */
@import url('https://fonts.cdnfonts.com/css/montserrat');
/*font-family: 'Montserrat', sans-serif;*/
@import url('https://fonts.cdnfonts.com/css/ruda');
/* font-family: 'Ruda', sans-serif; */

/* Variables - Pseudoclase */
:root{
    /* TIPOGRAFIAS */
    --tipografiaTexto:'Montserrat', sans-serif;
    --tipografiaTitulos: 'Ruda', sans-serif;
    /* PALETA DE COLORES */
    --colorFondo: white;
    --colorNav: #EFBC5E;
    --colorContraste: #18C78F;
    --colorContraste2: #57E391;
    --colorFiguras: #FFE1A9;

}


/* Ajuste de margin y padding */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}