<section>
    <div>
        <h1>PANEL DE CONTROL - ADMINISTRADORES</h1>
    </div>
    <div>

        <div>
            <table>
                <thead>
                    <th>NOMBRE</th>
                    <th>DIRECCIÓN</th>
                    <th>CORREO ELECTRONICO</th>
                    <th>TELEFONO</th>
                    <th>ACCIONES</th>
                </thead>
                <tbody>
                    <tr >
                        <td>
                            <p>NOMBRE</p>
                        </td>
                        <td>
                            <p>DIRECCION</p>
                        </td>
                        <td>
                            <p>CORREO ELECTRONICO</p>
                        </td>
                        <td>
                            <p>TELEFONO</p>
                        </td>
                        <td>
                            <button type="button">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>