<section>
    <div class="adminTexto">
        <h1>ADMINISTRADORES</h1>
    </div>
    <div class="containerTabla">
        <div class="containerBtns">
            <button (click)="openModalAddAdmin()">AGREGAR ADMINISTRADOR</button>
        </div>
        <div class="tablaAdmins">
            <table>
                <thead>
                    <th>NOMBRE</th>
                    <th>CORREO ELECTRONICO</th>
                    <th>ACCIONES</th>
                </thead>
                <tbody>
                    <tr *ngFor="let admin of Admins" class="admins">
                        <td class="tdContenido">
                            <p>{{admin.nombre}}</p>
                        </td>

                        <td class="tdContenido">
                            <p>{{admin.correoElectronico}}</p>
                        </td>

                        <td class="actions tdContenido" >
                            <button type="button" (click)="openModelUpdateAdmin(admin)" class="updateButton"> 
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" (click)="deleteAdmin(admin._id)" class="eliminarButton">
                                <i class="bi bi-trash3" ></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div *ngIf="isAdding">
        <app-modal-add-admin></app-modal-add-admin>
    </div>

    <div *ngIf="isUpdating">
        <app-modal-update-admin></app-modal-update-admin>
    </div>
</section>