/* FOOTER */
footer {
    background-color: var(--colorContraste);
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    /* No es necesario overflow-y: hidden aquí */
}

footer h2 {
    font-size: 20px;
    font-weight: 700;
    overflow-y: hidden;
}

.contenidoFooter {
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}

.enlacesFooter {
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.enlaces {
    width: 26%;
    /* Cambiar overflow-y: hidden a auto si se necesita desplazamiento */
    overflow-y: auto;
    margin-top: 30px;
    text-align: left;
}

.redes {
    display: flex;
    margin-top: 5%;
    gap: 5%;
    /* Cambiar overflow-y: hidden a auto si se necesita desplazamiento */
    overflow-y: auto;
}

.redes a, .redes p {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

.infoFooter {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.infoFooter a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

.imgFooter {
    width: 200px;
    height: 200px;
}

.imgFooter img {
    width: 100%;
    height: 100%;
}

.copyRight {
    margin: 20px;
    font-family: var(--tipografiaTitulos);
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

/* RESPONSIVE */

@media screen and (max-width: 1100px) {
    footer {
        height: 500px;
        padding-top: 10%;
    }
}

@media screen and (max-width: 830px) {
    .redes a, .redes p {
        font-size: 15px;
    }

    .infoFooter a {
        font-size: 15px;
    }
}

@media screen and (max-width: 650px) {
    footer {
        width: 100%;
        height: auto;
    }
    .enlacesFooter {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        padding-top: 0;
        height: 100%;
        width: 90%;
        overflow: hidden;
    }

    .contenidoFooter {
        height: 500px;
    }

    .enlaces {
        height: 33%;
        width: 100%;
        margin: 30px;
        overflow: hidden;
    }

    .copyRight {
        width: 100%;
    }
    .imgFooter{
        width: 180px;
        height: 180px;
    }
}
