    <!-- FOOTER -->
    <footer id="pieDePagina">
        <div class="contenidoFooter">
            <div class="enlacesFooter">
                <article class="enlaces">
                    <h2>Contactanos</h2>
                    <div class="redes">
                        <i class="bi bi-telephone-fill"></i>
                        <p>+57 321 459 7632</p>
                    </div>
                    <div class="redes">
                        <i class="bi bi-instagram"></i>
                        <a href="#">
                            <p>salud_sabor</p>
                        </a>
                    </div>
                </article>
                <article class="enlaces">
                    <h2>Terminos y condiciones</h2>
                    <div class="infoFooter">
                        <a href="#">Terminos legales</a>
                        <a href="#">Politicas de seguridad</a>
                    </div>
                </article>
                <article class="enlaces">
                    <h2>Navega</h2>
                    <div class="infoFooter">
                        <a routerLink="/login">Inicio Sesion</a>
                        <a routerLink="/">Como funciona</a>
                        <a routerLink="/restaurantes">Realiza tu pedido</a>
                    </div>
                </article>
            </div>
            <article class="imgFooter">
                <img src="assets/loggo_footeer-removebg-preview.png" alt="logopng">
            </article>
        </div>
        <div class="copyRight">
            <p >Desarrollado por &copy; Salud & Sabor - Colombia</p>
        </div>
    </footer>
