/* FOOTER */
footer{
    background-color: var(--colorContraste);
    width: 100vw;
    height: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer h2{
    font-size: 20px;
    font-weight: 700;
}

.contenidoFooter{
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

/* Contiene todas las clases enlace */
.enlacesFooter{
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid blue; */
    width: 80%;
}

.enlaces{
    width: 26%;
    height: 40px;
    margin-top: 30px;
    text-align: left;
}

.redes{
    display: flex;
    margin-top: 5%;
    gap: 5%;
}

.redes a, .redes p{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

/* Padre directo de las a */
.infoFooter{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 5%;

}

.infoFooter a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--tipografiaTexto);
}

/* Logo */
.imgFooter{
    width: 200px;
    height: 200px;
}

.imgFooter img{
    width: 100%;
    height: 100%;
}

/* Copyright */

.copyRight{
    margin:20px;
    font-family: var(--tipografiaTitulos);
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 20px;
}

/* RESPONSIVE */

@media screen and (max-width:1100px){
    footer{
        height: 500px;
        padding-top: 10%;
    }
}

@media screen and (max-width:830px){
    .redes a, .redes p{
        text-decoration: none;
        color:white;
        font-size: 15px;
        font-family: var(--tipografiaTexto);
    }

    .infoFooter a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-family: var(--tipografiaTexto);
    }
}

@media screen and (max-width:650px){
    footer{
        height: auto;
    }
    .enlacesFooter{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: space-around;
        padding-top:0 ;
        height: 70%;
    }

    .contenidoFooter{
        height: 500px;
    }

    .enlaces{
        height: 33%;
        width: 100%;
        margin: 30px;
    }

    .copyRight{
        width: 100%;
    }

}
