<section>
    <div class="userTexto">
        <h1>USUARIOS REGISTRADOS</h1>
    </div>
    <div class="containerTabla">

        <div class="tablaUsers">
            <table>
                <thead>
                    <th>NOMBRE</th>
                    <th>DIRECCIÓN</th>
                    <th>CORREO ELECTRONICO</th>
                    <th>TELEFONO</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of allUsers" class="users">
                        <td class="tdContenido">
                            <p>{{user.nombre}}</p>
                        </td>
                        <td class="tdContenido">
                            <p>{{user.direccion}}</p>
                        </td>
                        <td class="tdContenido">
                            <p>{{user.correoElectronico}}</p>
                        </td>
                        <td class="tdContenido">
                            <p>{{user.telefono}}</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>